body{
    display:flex;
    background-color:#1f2937;
    flex-direction: column;
}

a{
    display:flex;
    padding:16px 16px;
    margin:0;
    
}


header{
    display:flex;
    flex:1;
    justify-content: space-between;
    font-size: 24px;
    color:#f9faf8;
    
}

ul{
    display:flex;
    gap:16px;
    padding:16px 16px;
    margin:0;
}


ul li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    font-size 18px;
    color:#e5e7eb;

}

.body-info{
    display:flex;
    
    flex-direction: column;
}

h1{
    font-size:48px;
    color:#f9faf8;
    
}